
<center>
<table>
<tr>
<td align="left"><font size="3"><%= render partial: "hora" %></font></td>
</tr>
</table>
</center>
<br>
<br>
<center>
<table>
<tr>
<td align="center"><%= link_to image_tag("icon_cardapio.png", size: "80x80"), pratos_menucliente_index_path  %>
<center><font Size="4">Cardapio</font></center></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td align="center"><%= link_to image_tag("icon_pedidos.jpg", size: "80x80"), pedidos_menucliente_index_path  %>
<center><font Size="4">Pedidos</font></center></td>
</tr>
<tr>
<td align="center"><%= link_to image_tag("icon_conta.png", size: "80x80"), conta_menucliente_index_path  %>
<center><font Size="4">Conta</font></center></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td align="center"><%= link_to image_tag("icon_garcon.png", size: "80x80"), home_menucliente_index_path  %>
<center><font Size="4">Garçom</font></center></td>
</tr>
<tr>
<td align="center"><%= link_to image_tag("icon_sair.png", size: "80x80"), home_menucliente_index_path  %>
<center><font Size="4">Sair</font></center></td>
<td></td>
</tr>
</table>
</center>
