<center>
<table>
    <tr>
        <td align="left"><font size="3"><%= render partial: "hora" %></font></td>
    </tr>
</table>
</center>
<br>
<br>
<center><h3>Conta</h3></center>
<p>
	    
<div id="MainMenu">
  <div class="list-group panel">
    <% @lista_ped.each do |pedido|%>
        <a href="#<%= pedido.n_order %>" class="list-group-item list-group-item-success" data-toggle="collapse">
            <%= pedido.n_order %>---------------<%= pedido.pedido_total_price %> </a>
        <div class="collapse" id="<%= pedido.n_order %>">
            <a class="list-group-item">
              <%= pedido.namep %>---------------<%= pedido.total %></a>
        </div>
    <%end%>
  </div>
</div>

<center><%= link_to t('.back', :default => t("helpers.links.back")), cardapio_menucliente_index_path, :class => 'btn btn-default' %></center>