<center>
<table>
    <tr>
        <td align="left"><font size="3"><%= render partial: "hora" %></font></td>
    </tr>
</table>
</center>
<br>
<br>
<center><h3>Conta</h3></center>
<p>
<center>
<div id="MainMenu" style="background-color:#00BFFF; width:400px">
  <div class="list-group panel">
      
    <% x = 0 %>
    <% @lista_ped.each do |pedido|%>
        <% if x < pedido.n_order   %>
            <a href="#<%= pedido.n_order %>" class="list-group-item list-group-item-success" data-toggle="collapse">
                    <%= "Pedido: N° %d" %pedido.n_order %> _ _ _ _ _ <%= "Total: R$ %.2f" %pedido.pedido_total_price %></a>
        <%end%>  
        <% x = pedido.n_order %>
        
        <div class="collapse" id="<%= pedido.n_order %>">
            <% @lista_ped.each do |pedix|%>
                <% if x == pedix.n_order   %>
                    <a class="list-group-item"><%= pedix.namep %> _ _ _ <%= "Quant: %02d" %pedix.qtd %> _ _ _ <%= "Preço: R$ %.2f" %pedix.total %></a>
                <%end%>
            <%end%>
        </div>
  
    </body>    
    <%end%>
  </div>
</div>
</center>

<center>
    <%= link_to button_tag('Fechar Conta'), chama_garcom3_menucliente_index_path, data: { confirm: "Deseja Finalizar a Conta?"} %>
    <%= link_to button_tag('Voltar'), cardapio_menucliente_index_path %>
</center>
