
	<center>
	<table>
	<tr>
	<td align="left"><font size="3"><%= render partial: "hora" %></font></td>
	</tr>
	</table>
	</center>
	<br>
	<br>
	<center><h3>Lista de Compra</h3></center>
	<p>
	
	<table border="2" align="center">
		<tr>
			<th width="150px">Item</th>
			<th width="120px">Qtd</th>
			<th width="80px">Preço</th>
			<th width="150px">Total</th>
		</tr>
		<% total = 0 %>
		<% @list_compx.each do |y|%>
		<tr>
			<td align="center"><%= y.namep %></td>
			<td align="center"><%= y.qtd %></td>
			<td align="center"><%= y.price %></td>
			<td align="center"><%= y.total %></td>
			<td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      del_menucliente_path(y), 
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja realmente deletar?')) },
                      :class => 'btn btn-xs btn-default' %>
			<% total += (y.total).to_i %></td>
		</tr>
		<% end %>
	</table>
	<p>
	<p>
	
	<center><body>Total dos pedidos R$<%= label_tag(total) %></body></center>
	<p>
	<p>
	
	
	<center><body>	

	<%= link_to ('Limpar Lista'), limplista_menucliente_path,:class => 'btn btn-xs btn-default' %>
	<%= link_to ('Realizar Pedido'),nil,:class => 'btn btn-xs btn-default' %>
	<%= link_to ('Voltar ao Cardapio'), pratos_menucliente_index_path,:class => 'btn btn-xs btn-default' %></body></center>
