<%= form_tag (pedid_save_menucliente_path) do %>
	
	<center>
	<table>
	<tr>
	<td align="left"><font size="3"><%= render partial: "hora" %></font></td>
	</tr>
	</table>
	</center>
	<br>
	<center><h3>Lista de Compra</h3></center>
	<p>
	
	<table border="2" align="center">
		<tr>
			<th width="150px"><center>Item</center></th>
			<th width="80px"><center>Qtd</center></th>
			<th width="120px"><center>Preço</center></th>
			<th width="120px"><center>Total</center></th>
		</tr>
		<% total = 0 %>
		<% @list_compx.each do |y|%>
		<tr>
			<td align="center"><%= y.namep %></td>
			<td align="center"><%= "%02d" %y.qtd %></td>
			<td align="center"><%= "R$ %.2f" %y.price %></td>
			<td align="center"><%= "R$ %.2f" %y.total %></td>
			<td><%= link_to ("X"),
                      del_menucliente_path(y), 
                      :method => :delete,
                      :data => { :confirm => ('Deseja realmente deletar?')},
                      :class => 'btn btn-xs btn-danger' %>
			<% total += (y.total).to_f %></td>
		</tr>
		<% end %>
	</table>
	<p>
	<p>
	
	<center><body>Total dos pedidos <%= label_tag("R$ %.2f" %total) %></body></center>
	<p>
	<p>
	
	<center><body>	
	<%= submit_tag "Finalizar Pedido", :data => { :confirm => ('Deseja finalizar o pedido?')} %>
<% end %>
<%= link_to button_tag('Limpar Lista'), limplista_menucliente_path %>
<%= link_to button_tag('Voltar ao Cardapio'), pratoscar_menucliente_index_path %></body></center>
