<center>
<table>
<tr>
<td align="left"><font size="4"><%= render partial: "hora" %></font></td>

<td>&nbsp;&nbsp;</td>
<td><form action="action_page.php" align="center">
  <select name="mesas">
    <option value="      ">      </option>
    <option value="Mesa 1">Mesa 1</option>
    <option value="Mesa 2">Mesa 2</option>
    <option value="Mesa 3">Mesa 3</option>
    <option value="Mesa 4">Mesa 4</option>
    <option value="Mesa 5">Mesa 5</option>
    <option value="Mesa 6">Mesa 6</option>
    <option value="Mesa 7">Mesa 7</option>
    <option value="Mesa 8">Mesa 8</option>
    <option value="Mesa 9">Mesa 9</option>
  </select>
</form></td>
</tr>
</table>
</center>
<br>
<br>

<center>
<table>
<tr>
<td><body>Ordenar por:</body></td>
<td><form action="action_page.php" align="center">
  <select name="ordenacao">
    <option value="Padrao">Padrão</option>
    <option value="Menor Preco">Menor Preço</option>
    <option value="Maior Preco">Maior Preço</option>
    <option value="Prato de Entrada">Prato de Entrada</option>
    <option value="Prato Principal">Prato Principal</option>
    <option value="Sobremesas">Sobremesas</option>
    <option value="Bebidas">Bebidas</option>
    <option value="Prato Infantil">Prato Infantil</option>
  </select>
</form></td>
<p>
<td align="center"><%= link_to image_tag("icon_matriz1.png", size: "32x32" )  %></td>
</tr>
</table>
<p></p><br/><p></p>
<table align="center"border="3">
	<% @escolha_ped.each do |esc| %>
	<th width="10px"></th>
	<td>
		<center><%= link_to image_tag(esc.pictures[0], size: "200x200" ), menucliente_path(esc) %><br/><%= esc.name %><br/><%= esc.price %></center>
	</td>
	<th width="10px"></th>
	
	<% end %>
</table>
<br>
<center><%= link_to t('.back', :default => t("helpers.links.back")), cardapio_path, :class => 'btn btn-default' %></center>