
<center>
<table>
<tr>
<td align="left"><font size="3"><%= render partial: "hora" %></font></td>
</tr>
</table>
</center>
<br>
<br>

<center>
<table>
<tr>
<td><body>Ordenar por:</body></td>
<td>
    <%= select_tag(:ordem, options_for_select([["Padrão","Padrao"],['MenorPreco',"Menor Preço"],['MaiorPreco',"Maior Preço"]])) %>
<br></td>
<td align="center"><%= link_to image_tag("icon_matriz1.png", size: "32x32" )  %></td>
</tr>
</table>
<p></p><br/><p></p>
<table align="center"border="3">
	<% @escolha_ped.each do |esc| %>
	<th width="10px"></th>
	<td>
		<center><%= link_to image_tag(esc.pictures[0], size: "200x200" ), menucliente_path(esc) %><br/><%= esc.name %><br/><%= esc.price %></center>
	</td>
	<th width="10px"></th>
	<% end %>
</table>
<br>
<center><%= link_to t('.back', :default => t("helpers.links.back")), cardapio_menucliente_index_path, :class => 'btn btn-default' %></center>