<%- model_class = Manage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


  <div class="row">
  <div class="col-lg-3">
     <div class="well sidebar-nav">
            <h3>Menu</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Gerenciar Cardápio", manages_path  %></li>
              <li><%= link_to "Consultar Pedidos", "/path2"  %></li>
              <li><%= link_to "Contas", "/path3"  %></li>
              <li><%= link_to "Solicitações de Atendimento", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div>
<div class="col-lg-9">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_manage_path,
            :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:ingredient) %></th>
      <th><%= model_class.human_attribute_name(:pictures) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @manages.each do |manage| %>
      <tr>
        <td><%= link_to manage.id, manage_path(manage) %></td>
        <td><%= manage.name %></td>
        <td><%= manage.price %></td>
        <td><%= manage.ingredient %></td>
        <td><% manage.pictures.each do |p| %>
                <%= image_tag p.url(:thumb) %>
                <br>
                <br>
            <% end %>
        </td>
         
        <td><%=l manage.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manage_path(manage), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      manage_path(manage),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manage_path,
            :class => 'btn btn-primary' %>


</div>

</div>


