
<div class="page-header">
  <h1>Visualizar Pedidos</h1>
</div>


  <div class="row">
  <div class="col-lg-3">
     <div class="well sidebar-nav">
            <h3>Menu</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Gerenciar Cardápio", manages_path  %></li>
              <li><%= link_to "Consultar Pedidos", pedidosf_path  %></li>
              <li><%= link_to "Contas", "/path3"  %></li>
              <li><%= link_to "Solicitações de Atendimento", solicitacoes_path  %></li>
            </ul>
          </div><!--/.well -->
        </div>
<div class="col-lg-9">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Item</th>
      <th>Quantidade</th>
      <th>Total(R$)</th>
      <th>Tempo Estimado</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidosf.each do |x| %>
      <tr>
        <td><%= x.n_order %></td>
        <td><%=x.namep %> </td>
        <td><%=x.qtd %></td>
        <td><%= x.total %></td>
       	<% @tempo = ((x.created_at + 1800)-(Time.now))/60 %>
			<% if @tempo>0 %>
				<% h= @tempo %>
			<% else %>
				<% h = 00 %>
			<% end %>
			<td><%= "00:%02d" %h %></td>
        <td><%= link_to "Finalizar",
                      apagarpedidof_menucliente_path(x), 
                      :method => :delete,
                      :data => { :confirm => ('Deseja realmente finalizar este pedido?')},
                      :class => 'btn btn-xs btn-danger' %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>




</div>

</div>