
<div class="page-header">
  <h1>Visualizar Pedidos</h1>
</div>


  <div class="row">
  <div class="col-lg-3">
     <div class="well sidebar-nav">
            <h3>Menu</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Gerenciar Cardápio", manages_path  %></li>
              <li><%= link_to "Consultar Pedidos", pedidosf_path  %></li>
              <li><%= link_to "Contas", "/path3"  %></li>
              <li><%= link_to "Solicitações de Atendimento", "/path4"  %></li>
            </ul>
          </div><!--/.well -->
        </div>
<div class="col-lg-9">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Prato</th>
      <th>Total(R$)</th>
      <th>Tempo Estimado</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidosf.each do |x| %>
      <tr>
        <td><%= x.n_order %></td>
        <td> --- </td>
        <td><%= x.price %></td>
        <td><%= @tempo %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      apagarpedidof_menucliente_path(x), 
                      :method => :delete,
                      :data => { :confirm => ('Deseja realmente deletar?')},
                      :class => 'btn btn-xs btn-danger' %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>




</div>

</div>