
<div class="page-header">
  <h1>Solicitações de Atendimento</h1>
</div>


  <div class="row">
  <div class="col-lg-3">
     <div class="well sidebar-nav">
            <h3>Menu</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Gerenciar Cardápio", manages_path  %></li>
              <li><%= link_to "Consultar Pedidos", pedidosf_path  %></li>
              <li><%= link_to "Contas", "/path3"  %></li>
              <li><%= link_to "Solicitações de Atendimento", solicitacoes_path  %></li>
            </ul>
          </div><!--/.well -->
        </div>
<div class="col-lg-9">
<table class="table table-striped">
  <thead>
    <tr>
      <th><center>Mesa</center></th>
      <th><center>Solicitação</center></th>
      <th><center>Status</center></th>
      <th><center><%=t '.actions', :default => t("helpers.actions") %></center></th>
    </tr>
  </thead>
  <tbody>
    <% @f_garcom.each do |x| %>
      <tr>
        <td align="center"><%= x.mesa_num %></td>
        <td align="center"><%= "Dúvidas" if x.cod_chamado == 01%>
        <%= "Cancelamento de Pedido" if x.cod_chamado == 02%>
        <%= "Pagamento" if x.cod_chamado == 03%></td>
        <td align="center"><%= x.status %></td>
         <td align="center">
          <%= link_to 'Atender',
                      atendersolic_menucliente_path(x), :data => { :confirm => 'Esta ação modificará o status da solicitação para "Em Atendimento". Tem certeza disso?' }, :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Finalizar',
                      apagarsolicitacoes_menucliente_path(x),
                      :method => :delete,
                      :data => { :confirm => 'Esta ação removerá a solicitação da lista. Tem certeza disso?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>




</div>

</div>