
<div class="page-header">
  <h1>Visualizar Pedidos</h1>
</div>


  <div class="row">
  <div class="col-lg-3">
     <div class="well sidebar-nav">
            <h3>Menu</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Gerenciar Cardápio", manages_path  %></li>
              <li><%= link_to "Consultar Pedidos", pedidosf_path  %></li>
              <li><%= link_to "Contas", "/path3"  %></li>
              <li><%= link_to "Solicitações de Atendimento", solicitacoes_path  %></li>
            </ul>
          </div><!--/.well -->
        </div>
<div class="col-lg-9">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Mesa</th>
      <th>Solicitação</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @f_garcom.each do |x| %>
      <tr>
        <td><%= x.mesa_num %></td>
        <td><%= "Dúvidas" if x.cod_chamado == 01%>
        <%= "Cancelamento de Pedido" if x.cod_chamado == 02%>
        <%= "Pagamento" if x.cod_chamado == 03%></td>
        <td><%= x.status %></td>
         <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      solicitacoes_path(x), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Atendido(Limpar)',
                      solicitacoes_path(x),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>




</div>

</div>